/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}
@media screen (max-width: 600px)
.mat-card {
    padding: 24px;
}

@media screen and (-ms-high-contrast:active) {
    .mat-option-ripple {
        opacity: .5
    }
}
